# Python
__pycache__
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/